force-app/main/default/flows/F_AuditAPI_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Task_Status_Failed</name>
        <label>Update Task Status Failed</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordTobeUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordTobeUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Failed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Status_To_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_To_Success</name>
        <label>Update Task Status To Success</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordTobeUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordTobeUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Status_To_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Failed_API_Commnication</name>
        <label>Failed API Commnication</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed_API_Communication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.API_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_Failed</targetReference>
            </connector>
            <label>Failed API Communication</label>
        </rules>
        <rules>
            <name>Success_API_Communication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.API_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_To_Success</targetReference>
            </connector>
            <label>Success API Communication</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F AuditAPI After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F AuditAPI After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Task_Status_To_Completed</name>
        <label>Update Task Status To Completed</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <inputReference>TaskRecordTobeUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status_To_Failed</name>
        <label>Update Task Status To Failed</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <inputReference>TaskRecordTobeUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>API_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>API_Callout_Audit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Failed_API_Commnication</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskRecordTobeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
