force-app/main/default/flows/F_DocumentHandler_After_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Record_Update</name>
        <label>Assign Current Record Update</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>v_Current_Record_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_DispatchDocument</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dispatch_Details</name>
        <label>Assign Dispatch Details</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transfer_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Receiver_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Document_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Dispatch_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transfer_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Individual.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_DispatchDocument</name>
        <label>Assign mdv_DispatchDocument</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_DispatchDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Document_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_SyncingstatuswithExtendedSobjectId</name>
        <label>Assign mdv_SyncingstatuswithExtendedSobjectId</label>
        <locationX>1150</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_SyncingstatuswithExtendedSobjectIdOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Document_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_and_substatus_Related_Extend_Sobject_Id_Record</name>
        <label>Assign status and substatus Related Extend Sobject Id Record</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>v_RelatedExtendeSobjectIdRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Related_to_Extended_Sobject_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_RelatedExtendeSobjectIdRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_RelatedExtendeSobjectIdRecord.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Extended_Sobject_Id_Related_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_Current_Record_Update_false</name>
        <label>Assign v_Current_Record_Update false</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>v_Current_Record_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Document_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Dispatch_Details</name>
        <label>Copy 1 of Assign Dispatch Details</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transfer_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Individual.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Document_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Dispatch_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transfer_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Receiver_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Dispatch_Details</name>
        <label>Copy 1 of Copy 1 of Assign Dispatch Details</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transfer_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Document_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Dispatch_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Document_Dispatch_Path_Details.Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Extended_Sobject_Id_Related_Record_Exist_Or_Not</name>
        <label>Check Extended Sobject Id Related Record Exist Or Not</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_SyncingstatuswithExtendedSobjectId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Check_Extended_Sobject_Id_Related_Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Related_to_Extended_Sobject_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_and_substatus_Related_Extend_Sobject_Id_Record</targetReference>
            </connector>
            <label>If Check Extended Sobject Id Related Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Receiver_Account_Type</name>
        <label>Check the Receiver Account Type</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_DispatchDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receiver_Account_Type_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Document_Dispatch_Path_Details.Receiver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dispatch_Details</targetReference>
            </connector>
            <label>Receiver Account Type - Account Outcome</label>
        </rules>
        <rules>
            <name>Receiver_Account_Type_Document_Creator_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Document_Dispatch_Path_Details.Receiver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Creator Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Dispatch_Details</targetReference>
            </connector>
            <label>Receiver Account Type - Document Creator Account Outcome</label>
        </rules>
        <rules>
            <name>Receiver_Account_Type_Opportunity_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Document_Dispatch_Path_Details.Receiver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Dispatch_Details</targetReference>
            </connector>
            <label>Receiver Account Type - Opportunity Account Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Document_Handler</name>
        <label>Main Decision - Document Handler</label>
        <locationX>1084</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatch_Document_Outcome</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Label.DocumentHandler_Status_For_Dispatch</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Dcoument_Detail__r.Dispatch_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Dispatch_Serial_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Process_Attribute_Dcoument_Detail__r.Max_Dispatch_Serial_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_DispatchDocument</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Created__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Document_Dispatch_Path_Details</targetReference>
            </connector>
            <label>Dispatch Document Outcome</label>
        </rules>
        <rules>
            <name>Syncing_status_with_ExtendedSobjectId_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Document_Handler_Status_Sync_with_ExtendedsobjectId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extended_SObject_RecordId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_SyncingstatuswithExtendedSobjectIdOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Related_to_Extended_Sobject_Id</targetReference>
            </connector>
            <label>Syncing status with ExtendedSobjectId Outcome</label>
        </rules>
        <rules>
            <name>Update_Current_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Current_Record_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record1</targetReference>
            </connector>
            <label>Update Current Record Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F DocumentHandler After InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F DocumentHandler After InsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Document_Dispatch_Path_Details</name>
        <label>Get Process Document Dispatch Path Details</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Receiver_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Process_Document_Dispatch_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Dcoument_Detail__r.Process_Document_Dispatch_Path__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Current_Dispatch_Serial_No__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Document_Dispatch_Path_Details__c</object>
        <sortField>Serial_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Related_to_Extended_Sobject_Id</name>
        <label>Get Record Related to Extended Sobject Id</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Extended_Sobject_Id_Related_Record_Exist_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Extended_SObject_RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Paybale__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record1</name>
        <label>Update Current Record1</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_v_Current_Record_Update_false</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Extended_Sobject_Id_Related_Record</name>
        <label>Update Extended Sobject Id Related Record</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_mdv_SyncingstatuswithExtendedSobjectId</targetReference>
        </connector>
        <inputReference>v_RelatedExtendeSobjectIdRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision_Document_Handler</targetReference>
        </connector>
        <object>Document_Handler__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_BulkActionDispatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_BulkActionReceive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DispatchDocument</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ReOpenTaskforBulkAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_SyncingstatuswithExtendedSobjectIdOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_Current_Record_Update</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_RelatedExtendeSobjectIdRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Paybale__c</objectType>
    </variables>
    <variables>
        <name>v_TransferToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
