force-app/main/default/flows/F_Process_Review_Checklist_FACT_After_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign mdv_CommentHistoryandLastCommentDateOutcome</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>mdv_CommentHistoryandLastCommentDateOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comment_History</name>
        <label>Assign Comment History</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Get_Review_Fact_For_All_Review_Level.Comment_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Comment_History__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_cv_ProcessReviewChecklistFACT_ForAllReviewLevel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_cv_ProcessReviewChecklistFACT_ForAllReviewLevel</name>
        <label>Assign cv_ProcessReviewChecklistFACT_ForAllReviewLevel</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>cv_ProcessReviewChecklistFACT_ForAllReviewLevel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Review_Fact_For_All_Review_Level</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Review_Fact_For_All_Review_Level</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Comment_History_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CommentHistoryandLastCommentDateOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Review_Fact_For_All_Review_Level</targetReference>
            </connector>
            <label>Update Comment History Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_comment_withChecklistname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Process_Review_Checklist_Detail__r.Checklist_Name__c} + &apos;-&apos; + {!$Record.Comments__c}</expression>
    </formulas>
    <formulas>
        <name>fv_Commnet_History</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) + &quot;   [&quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot;] - &quot; + {!$Record.Comments__c}  &amp;BR()+&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot; + {!$Record.Comment_History__c}</expression>
    </formulas>
    <interviewLabel>F Process Review Checklist FACT After InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Process Review Checklist FACT After InsertUpdate</label>
    <loops>
        <name>Loop_Get_Review_Fact_For_All_Review_Level</name>
        <label>Loop Get Review Fact For All Review Level</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Review_Fact_For_All_Review_Level</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Comment_History</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Review_Fact_For_All_Review_Level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Review_Fact_For_All_Review_Level</name>
        <label>Get Review Fact For All Review Level</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Review_Fact_For_All_Review_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Review_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Current_Review_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Review_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Review_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Review_Checklist_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Review_Checklist_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Review_Checklist_FACT__c</object>
        <sortField>Current_Review_Level__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Review_Fact_For_All_Review_Level</name>
        <label>Update Review Fact For All Review Level</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Tasks</targetReference>
        </connector>
        <inputReference>cv_ProcessReviewChecklistFACT_ForAllReviewLevel</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commnets__c</field>
            <value>
                <elementReference>fv_comment_withChecklistname</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>Process_Review_Checklist_FACT__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cv_ProcessReviewChecklistFACT_ForAllReviewLevel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Process_Review_Checklist_FACT__c</objectType>
    </variables>
    <variables>
        <name>mdv_CommentHistoryandLastCommentDateOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_PopulateCommentHistoryForNewRecordOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
