force-app/main/default/flows/F_Task_After_InsertUpdate_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_HTML_Tags</name>
        <label>Remove HTML Tags</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>RemoveHtmlTags</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richtextlist</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlTags</nameSegment>
        <outputParameters>
            <assignToReference>Plaintext</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TaskCreationNew2</name>
        <label>TaskCreationNew2</label>
        <locationX>5726</locationX>
        <locationY>755</locationY>
        <actionName>TaskCreationNew2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inp_sObject</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_sObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationNew2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>TaskDependedClosedTaskIdsUpdate</description>
        <name>TaskDependedClosedTaskIdsUpdate</name>
        <label>TaskDependedClosedTaskIdsUpdate</label>
        <locationX>5858</locationX>
        <locationY>539</locationY>
        <actionName>TaskDependedClosedTaskIdsUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_New_Task_Creation_For_Task_Having_Child_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_parms</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskDependedClosedTaskIdsUpdate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>TaskDocumentSharing</description>
        <name>TaskDocumentSharing</name>
        <label>TaskDocumentSharing</label>
        <locationX>2910</locationX>
        <locationY>431</locationY>
        <actionName>TaskDocumentSharing</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_DocumentHandlerUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_parms</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskDocumentSharing</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign dv_RepeatTask</label>
        <locationX>5198</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>mdv_RepeatTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_Updated_Previous_Lower_Version_Task</name>
        <label>Assign Add Updated Previous  Lower Version Task</label>
        <locationX>2514</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>cv_Previous_Lower_Version_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Child_Tasks_Closed_of_the_Parent_Task</name>
        <label>Assign All Child Tasks Closed of the Parent Task</label>
        <locationX>4758</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Task_if_Only_Closed.All_Child_Tasks_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_All_Child_Task_Closed_of_the_Parent_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Close_Previous_Lower_Version_Task_Outcome</name>
        <label>Assign Close Previous Lower Version Task Outcome</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Related_Task_List.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_Updated_Previous_Lower_Version_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_New_Rec_Status</name>
        <label>Assign Current Rec Status</label>
        <locationX>2778</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OriginatingSysSL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List.Serialnumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Record_Update3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Status</name>
        <label>Assign Current Record Status</label>
        <locationX>1986</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Comment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Process Attribute/Task Details Not Updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commnets__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fv_Comments_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Record_Update1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Status_Completed</name>
        <label>Assign Current Record Status Completed</label>
        <locationX>3878</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Update1</name>
        <label>Assign Current Record Update</label>
        <locationX>1986</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Update2</name>
        <label>Assign Current Record Update</label>
        <locationX>2250</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Update3</name>
        <label>Assign Current Record Update</label>
        <locationX>2778</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Task_Outcome</name>
        <label>Assign Duplicate Task Outcome</label>
        <locationX>2250</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Record_Update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AfterTaskCloseProcess</name>
        <label>Assign mdv_AfterTaskCloseProcess</label>
        <locationX>7838</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mdv_AfterTaskCloseProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</name>
        <label>Assign mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</label>
        <locationX>4890</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_ChecklistFact_Creation</name>
        <label>Assign mdv_ChecklistFact_Creation</label>
        <locationX>3548</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>mdv_ChecklistFact_Creation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CurrentTaskStatus</name>
        <label>Assign mdv_CurrentTaskStatus</label>
        <locationX>2052</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>mdv_DuplicateTaskStatusOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_DocumentCreatedUpdate</name>
        <label>Assign mdv_DocumentCreatedUpdate</label>
        <locationX>6914</locationX>
        <locationY>1721</locationY>
        <assignmentItems>
            <assignToReference>mdv_DocumentCreatedUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Closing_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_DocumentHandlerCreation</name>
        <label>Assign mdv_DocumentHandlerCreation</label>
        <locationX>2602</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>mdv_DocumentHandlerCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_DocumentHandlerUpdate</name>
        <label>Assign mdv_DocumentHandlerUpdate</label>
        <locationX>2910</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mdv_DocumentHandlerUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</name>
        <label>Assign mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</label>
        <locationX>6870</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Document_Handler_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</name>
        <label>Assign mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</label>
        <locationX>7508</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Closing_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_SystemFlowExecutedTasksOutcome</name>
        <label>Assign mdv_SystemFlowExecutedTasksOutcome</label>
        <locationX>4010</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdvSystemFlowExecutedTasksOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskHistoryMatrix</name>
        <label>Assign mdv_TaskHistoryMatrix</label>
        <locationX>578</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskHistoryMatrix</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</name>
        <label>Assign mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</label>
        <locationX>5858</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Closing_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Review_Checklist_Fact</name>
        <label>Assign Process Review Checklist Fact</label>
        <locationX>3350</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistFact.Process_Review_Checklist_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Review_Checklist_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistFact.Process_Attribute_Review_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Related_ProcessAttributeReviewer_Detail.Process_Attribute_Review_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistFact.Current_Review_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Review_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistFact.Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistFact.Parent_Task_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Review_Checklist_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Custom_To_Current_Task</name>
        <label>Assign Task Custom To Current Task</label>
        <locationX>4494</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Task_Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Task_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Re_Open_Values_Review_Rejection_Process</name>
        <label>Assign Task Re-Open Values - Review Rejection Process</label>
        <locationX>7222</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_Review_Checklist_Related_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Open</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Process_Review_Checklist_FACT_Related_PPTD.Review_Related_TaskId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Review_Checklist_Related_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Re_Open_Task_Status_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Document_Handing_Sharing_Task_Id_on_Task_Closure</name>
        <label>Assign Update Document Handing Sharing Task Id on Task Closure</label>
        <locationX>7134</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>cv_Document_Handaler_Up</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Document_Handler_Created_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Document_Handler_Created_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_CurrentRecords_Update_false</name>
        <label>Assign v_CurrentRecords_Update false</label>
        <locationX>8102</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_update_comment_summary</name>
        <label>Assign v_update comment summary</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>mdv_updatecommentsummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDocumentHandler</name>
        <label>Assign Document Handler</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Document_Metadata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Document_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Physical_Document_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Physical_Document_Mandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Upload_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Upload_Mandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Task_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Review_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Review_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Document_Metadata__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Process_Attribute_Dcoument_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Process_Attribute_Document_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Document_Handler.Document_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Document_SLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Handler_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentAuditRecord</name>
        <label>AssignmentAuditRecord</label>
        <locationX>4406</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>rv_AuditRecordAssignment.Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_AuditRecordAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_AuditRecordAssignment.Apex_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__r.Action_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_AuditRecordAssignment.Is_New_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_AuditRecordAssignment.Task_Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Custom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuditRecordCreation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSystemExecutedApexAction</name>
        <label>AssignSystemExecutedApexAction</label>
        <locationX>4406</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>mdv_SystemExecutedApexAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Append_Document_Share_Task_Ids</name>
        <label>Copy 1 of Assign Append Document Share Task Ids</label>
        <locationX>7134</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Document_Handler_Created_Update.Document_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Document_Handing_Sharing_Task_Id_on_Task_Closure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Record_Update</name>
        <label>Copy 1 of Assign Current Record Update</label>
        <locationX>6870</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_Current_Record_Update</name>
        <label>Copy 1 of Copy 2 of Assign Current Record Update</label>
        <locationX>3878</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_SystemFlowExecutedTasksOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Current_Record_Update</name>
        <label>Copy 2 of Assign Current Record Update</label>
        <locationX>4494</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentAuditRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Record_Status_Document_Upload_Pending</name>
        <label>Current Record Status - Document Upload Pending</label>
        <locationX>6870</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Document_Pending</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Current_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Document_Handler_Collection</name>
        <label>Document Handler Collection</label>
        <locationX>2558</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rv_Document_Handler_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Document_Handler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Process_Attribute_Document_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Review_Checklist_Detail</name>
        <label>Process Review Checklist Detail</label>
        <locationX>3350</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>rv_ProcessReviewChecklistDetail_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_ProcessReviewChecklistFact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Process_Review_Checklist_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reattempt_Task_Creation</name>
        <label>Reattempt Task Creation</label>
        <locationX>5198</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Current_Attempt_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_TaskCurrentAttemptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ReAttempt_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_History_Matrix_EndTime_Assignment</name>
        <label>Task History Matrix EndTime Assignment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Records_Task_History_Matrix_c_Opportunity.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_History_Matrix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_History_Matrix_New_Record_Assignment</name>
        <label>Task History Matrix New Record Assignment</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.TaskId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_History_Matrix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Child_closer_cronology</name>
        <label>Test Child closer cronology</label>
        <locationX>4758</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commnets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_test_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_CurrentRecords_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plaintext</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Document_Handler_Status</name>
        <label>Check Document Handler Status</label>
        <locationX>7134</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Document_Handler_Created_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mandatory_Document_ToBe_Collected_Post_Alternate_Document_Added_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Document_Handler_Created_Update.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate Document Added</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Document_Handler_Created_Update.Process_Attribute_Dcoument_Detail__r.Is_Document_Collection_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Record_Status_Document_Upload_Pending</targetReference>
            </connector>
            <label>Mandatory Document ToBe Collected Post Alternate Document Added Outcome</label>
        </rules>
        <rules>
            <name>Document_Handler_Status_Draft_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Document_Handler_Created_Update.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Document_Handler_Created_Update.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alternate Document Added</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.DocumentHandler_Status_For_Dispatch</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Document_Handler_Created_Update.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Append_Document_Share_Task_Ids</targetReference>
            </connector>
            <label>Document Handler Status Draft Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Process_Attribute_Reviewer_Detail_Exist</name>
        <label>Check_If_Process_Attribute_Reviewer_Detail_Exist</label>
        <locationX>3548</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_ChecklistFact_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_Attribute_Reviewer_Detail_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Related_ProcessAttributeReviewer_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Review_Checklist_Detail</targetReference>
            </connector>
            <label>If_Process_Attribute_Reviewer_Detail_Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Looped_Record_Purpose</name>
        <label>Check Looped Record Purpose</label>
        <locationX>2382</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_New_Rec_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record_Status</targetReference>
            </connector>
            <label>Invalid Task Outcome</label>
        </rules>
        <rules>
            <name>Duplicate_Task_Outcome</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Meeting_Call_Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Meeting_Call_Purpose__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Parent_Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Parent_Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Task_Outcome</targetReference>
            </connector>
            <label>Duplicate Task Outcome</label>
        </rules>
        <rules>
            <name>Closing_Previous_Lower_Version_Task</name>
            <conditionLogic>1 or 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Serialnumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Serialnumber__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>v_OriginatingSysSL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Close_Previous_Lower_Version_Task_Outcome</targetReference>
            </connector>
            <label>Closing Previous Lower Version Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Task_Creation_For_Task_Having_Child_Tasks</name>
        <label>Check New Task Creation For Task Having Child Tasks</label>
        <locationX>5858</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Task_Creation_For_Task_Having_Child_Tasks_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Child_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationNew2</targetReference>
            </connector>
            <label>New Task Creation For Task Having Child Tasks Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_Open_Child_Task</name>
        <label>Check No Open Child Task</label>
        <locationX>4890</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open_Child_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Child_Tasks_For_Current_Child_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Task_if_Only_Closed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Child_Tasks_Closed_of_the_Parent_Task</targetReference>
            </connector>
            <label>No Open Child Task Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Lower_Version_Tasks</name>
        <label>Check Previous Lower Version Tasks</label>
        <locationX>1898</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CurrentTaskStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Lower_Version_Tasks_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cv_Previous_Lower_Version_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Lower_Version_Tasks</targetReference>
            </connector>
            <label>Previous Lower Version Tasks Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Process_Attribute_Document_Details_Exist</name>
        <label>Check Process Attribute Document Details Exist</label>
        <locationX>2602</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_DocumentHandlerCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Process_Attribute_Document_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Attribute_Dcoument_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Process_Attribute_Document_Details</targetReference>
            </connector>
            <label>IF Process Attribute Document Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Task_Records</name>
        <label>Check Related Task Records</label>
        <locationX>2052</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CurrentTaskStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Task_Records_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Related_Task_List</targetReference>
            </connector>
            <label>Related Task Records Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_System_Flow_Executed_Action_URL_Name</name>
        <label>Check System Flow Executed Action URL Name</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_SystemFlowExecutedTasksOutcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sobject_Re_Open_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Porcess_Path_Initiated_Task_Id_Status_Open</targetReference>
            </connector>
            <label>Sobject Re-Open Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Custom_Already_Exist</name>
        <label>Check Task Custom Already Exist</label>
        <locationX>4406</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Custom_Already_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Custom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentAuditRecord</targetReference>
            </connector>
            <label>Task Custom Already Exist Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckifProcessReviewChecklistDetailExist</name>
        <label>Check if Process Review Checklist Detail Exist</label>
        <locationX>3394</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_ChecklistFact_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Process_Review_Checklist_Detail_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Review_Checklist_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Process_Review_Checklist_Details</targetReference>
            </connector>
            <label>if Process Review Checklist Detail Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Get_Process_Review_Checklist_FACT_Related_PPTD_Exists</name>
        <label>Decision Get Process Review Checklist FACT Related PPTD Exists</label>
        <locationX>7508</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Process_Review_Checklist_FACT_Related_PPTD_Exisits_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Review_Checklist_FACT_Related_PPTD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Review_Checklist_Related_Tasks</targetReference>
            </connector>
            <label>Get Process Review Checklist FACT Related PPTD Exisits Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Get_Review_Checklist_Related_Tasks_Exists</name>
        <label>Decision Get_Review_Checklist_Related_Tasks Exists</label>
        <locationX>7354</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Review_Checklist_Related_Tasks_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Review_Checklist_Related_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Re_Open_Values_Review_Rejection_Process</targetReference>
            </connector>
            <label>Get_Review_Checklist_Related_Tasks Exists Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Handler_Created_Decision</name>
        <label>Document Handler Created Decision</label>
        <locationX>6914</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_DocumentCreatedUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Document_Handler_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Handler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Document_Handler_Created_Update</targetReference>
            </connector>
            <label>Document Handler Exists Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Task</name>
        <label>Main Decision - Task</label>
        <locationX>4208</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Comment_summary_Richtext_to_Plaintext</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_updatecommentsummary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_HTML_Tags</targetReference>
            </connector>
            <label>Update Comment summary Richtext to Plaintext</label>
        </rules>
        <rules>
            <name>Task_History_Matrix_Upsert</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskHistoryMatrix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Task_History_Matrix_c_Opportunity</targetReference>
            </connector>
            <label>Task History Matrix Upsert</label>
        </rules>
        <rules>
            <name>Unwanted_Task_Status_Outcome</name>
            <conditionLogic>1 AND 2 AND  (3 or 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>mdv_DuplicateTaskStatusOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_Owner_Assigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_Owner_Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Default_Owner_Assigned__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Path_Deviation__r.Process_Path_Task_Detail_Start__r.Process_Task_Detail__r.IsBulkProcessing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Tasks</targetReference>
            </connector>
            <label>Unwanted Task Status - Outcome</label>
        </rules>
        <rules>
            <name>Document_Handler_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_DocumentHandlerCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Process_Path_Task_Detail__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Draft</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Attribute_Dcoument_Detail</targetReference>
            </connector>
            <label>Document Handler Creation</label>
        </rules>
        <rules>
            <name>Document_Handler_Update</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>mdv_DocumentHandlerUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Open</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Share_Document_Task_Ids__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Process_Share_Document_Task_Ids__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskDocumentSharing</targetReference>
            </connector>
            <label>Document Handler Update</label>
        </rules>
        <rules>
            <name>Checklist_Fact_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Review_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_ChecklistFact_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Related_ProcessAttributeReviewer_Detail</targetReference>
            </connector>
            <label>Checklist_Fact_Creation</label>
        </rules>
        <rules>
            <name>System_Flow_Executed_Tasks_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Flow Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Open</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdvSystemFlowExecutedTasksOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_System_Flow_Executed_Action_URL_Name</targetReference>
            </connector>
            <label>System Flow Executed Tasks Outcome</label>
        </rules>
        <rules>
            <name>SystemExecutedApexAction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_SystemExecutedApexAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fv_No_Of_Attempts_Allowed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Current_Attempt_No__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Task_Custom_Already_Exist</targetReference>
            </connector>
            <label>SystemExecutedApexAction</label>
        </rules>
        <rules>
            <name>All_Child_Tasks_Closed_For_the_Current_Child_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.All_Child_Tasks_Closed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Task_if_Only_Closed</targetReference>
            </connector>
            <label>All Child Tasks Closed For the Current Child Record Outcome</label>
        </rules>
        <rules>
            <name>After_Task_Closed_Processing</name>
            <conditionLogic>1 AND 3 AND ((NOT 2) OR (4 and 5))</conditionLogic>
            <conditions>
                <leftValueReference>mdv_AfterTaskCloseProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Closed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Closed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Closing_Processes</targetReference>
            </connector>
            <label>After Task Closed Processing</label>
        </rules>
        <rules>
            <name>Update_Current_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_CurrentRecords_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record</targetReference>
            </connector>
            <label>Update Current Record Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Closing_Processes</name>
        <label>Post Closing Processes</label>
        <locationX>6518</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_AfterTaskCloseProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repeat_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Process_Attribute_Details__r.Allowed_No_Of_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_RepeatTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reattempt_Task_Creation</targetReference>
            </connector>
            <label>Repeat Task Outcome</label>
        </rules>
        <rules>
            <name>Task_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <label>Task Failed</label>
        </rules>
        <rules>
            <name>Update_Execution_Depended_Closed_Task_Id_Outcome</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.All_Child_Tasks_Closed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskDependedClosedTaskIdsUpdate</targetReference>
            </connector>
            <label>Update Execution Depended Closed Task Id Outcome</label>
        </rules>
        <rules>
            <name>Document_Created_Update_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_DocumentCreatedUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Handler</targetReference>
            </connector>
            <label>Document Created Update Outcome</label>
        </rules>
        <rules>
            <name>Re_Open_Dependent_Task_After_Review_Reject_Based_on_Checklist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Review_Checklist_FACT_Related_PPTD</targetReference>
            </connector>
            <label>Re-Open Dependent Task After Review Reject Based on Checklist Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Present_Task_History_Matrix_Decision</name>
        <label>Record Present Task History Matrix Decision</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_TaskHistoryMatrix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Present_Task_History_Matrix_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Task_History_Matrix_c_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Task_History_Matrix_c_Opportunity.End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_History_Matrix_EndTime_Assignment</targetReference>
            </connector>
            <label>Record Present Task History Matrix Outcome</label>
        </rules>
        <rules>
            <name>Create_New_TaskHistoryMatrix_Outcome</name>
            <conditionLogic>1 or (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_History_Matrix_New_Record_Assignment</targetReference>
            </connector>
            <label>Create New TaskHistoryMatrix Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_Comments_History</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) + &quot;   [&quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot;] - &quot; + {!v_Comment}</expression>
    </formulas>
    <formulas>
        <name>fv_Document_SLA</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!Loop_On_Process_Attribute_Document_Details.Document_SLA__c}</expression>
    </formulas>
    <formulas>
        <name>fv_No_Of_Attempts_Allowed</name>
        <dataType>Number</dataType>
        <expression>value(text({!$Record.Process_Path_Task_Detail__r.No_Of_Attempts_Allowed__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_OpportunityID</name>
        <dataType>String</dataType>
        <expression>if (CONTAINS({!$Record.WhatId}, &apos;006&apos;),{!$Record.WhatId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fv_Prior_Review_Level</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Current_Review_Level__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_Process_Path_Initiated_Task_Id</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Process_Path_Initiated_Task_Id__c},18)</expression>
    </formulas>
    <formulas>
        <name>fv_TaskCreated</name>
        <dataType>String</dataType>
        <expression>&quot;Hi,&quot; &amp;BR() + 
 &quot;You have been assigned a new Task . Please click below link&quot; &amp;BR() + {!$Label.SalesforceUrl}&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>fv_TaskCurrentAttemptNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Current_Attempt_No__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_test_child</name>
        <dataType>String</dataType>
        <expression>if ({!mdv_AfterTaskCloseProcess} = true,&apos;true&apos;,&apos;false&apos;) + &apos; and &apos; + text({!$Record.Status}) + &apos; and &apos; + text({!$Record__Prior.Status}) + &apos; and &apos; + if ({!$Record__Prior.All_Child_Tasks_Closed__c} = true, &apos;true&apos;,&apos;false&apos;) + &apos; and &apos; + if({!$Record.All_Child_Tasks_Closed__c} = true,&apos;true&apos;,&apos;false&apos;)</expression>
    </formulas>
    <formulas>
        <name>mdv_new_check</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>F Task After InsertUpdate - New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task After InsertUpdate - New</label>
    <loops>
        <name>Loop_Document_Handler_Created_Update</name>
        <label>Loop Document Handler Created Update</label>
        <locationX>6782</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Document_Handler</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Document_Handler_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Document_Handler</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Process_Attribute_Document_Details</name>
        <label>Loop On Process Attribute Document Details</label>
        <locationX>2470</locationX>
        <locationY>647</locationY>
        <collectionReference>Process_Attribute_Dcoument_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDocumentHandler</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Document_Handler</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Process_Review_Checklist_Details</name>
        <label>Loop On Process Review Checklist Details</label>
        <locationX>3262</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Process_Review_Checklist_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Process_Review_Checklist_Fact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Review_Checklist_Fact_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Related_Task_List</name>
        <label>Loop Over Related Task List</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Looped_Record_Purpose</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Previous_Lower_Version_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AuditRecordCreation</name>
        <label>AuditRecordCreation</label>
        <locationX>4406</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>AssignSystemExecutedApexAction</targetReference>
        </connector>
        <inputReference>rv_AuditRecordAssignment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Handler</name>
        <label>Create Document Handler</label>
        <locationX>2470</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Assign_mdv_DocumentHandlerCreation</targetReference>
        </connector>
        <inputReference>rv_Document_Handler_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Custom</name>
        <label>Create Task Custom</label>
        <locationX>4494</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_Task_Custom_To_Current_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Task_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task_Custom__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_History_Matrix</name>
        <label>Create Task History Matrix</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_mdv_TaskHistoryMatrix</targetReference>
        </connector>
        <inputReference>rv_Task_History_Matrix</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Review_Checklist_Fact_Creation</name>
        <label>Process Review Checklist Fact Creation</label>
        <locationX>3262</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Assign_mdv_ChecklistFact_Creation</targetReference>
        </connector>
        <inputReference>rv_ProcessReviewChecklistDetail_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ReAttempt_Task</name>
        <label>ReAttempt Task</label>
        <locationX>5198</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <inputReference>rv_NewRepeatTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Child_Tasks_For_Current_Child_Record</name>
        <label>Get All Child Tasks For Current Child Record</label>
        <locationX>4890</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_No_Open_Child_Task</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 or 3)</filterLogic>
        <filters>
            <field>Parent_Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>All_Child_Tasks_Closed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Initiated_Task_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Handler</name>
        <label>Get Document Handler</label>
        <locationX>6914</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Handler_Created_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_Handler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Task_if_Only_Closed</name>
        <label>Get Parent Task if Only Closed</label>
        <locationX>4890</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Child_Tasks_For_Current_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Task_Status_Completed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Review_Checklist_Detail</name>
        <label>Get Process_Review_Checklist_Detail</label>
        <locationX>3394</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckifProcessReviewChecklistDetailExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Review_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Related_ProcessAttributeReviewer_Detail.Process_Review_Checklist__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Review_Checklist_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Review_Checklist_FACT_Related_PPTD</name>
        <label>Get Process Review Checklist FACT Related PPTD</label>
        <locationX>7508</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Get_Process_Review_Checklist_FACT_Related_PPTD_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checklist_Reviewer_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Review_For_Related_PPTD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Review_Checklist_FACT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Task_History_Matrix_c_Opportunity</name>
        <label>Get Records Task_History_Matrix__c - Opportunity</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Present_Task_History_Matrix_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_History_Matrix__c</object>
        <sortField>Start_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Tasks</name>
        <label>Get Related Tasks</label>
        <locationX>2052</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Task_Records</targetReference>
        </connector>
        <filterLogic>(2 AND (7 or 8) ) OR (1  AND (9 OR 10)) AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Serialnumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Review_Checklist_Related_Tasks</name>
        <label>Get Review Checklist Related Tasks</label>
        <locationX>7354</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Get_Review_Checklist_Related_Tasks_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Review_Checklist_FACT_Related_PPTD.Review_For_Related_PPTD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Related_ProcessAttributeReviewer_Detail</name>
        <label>Get _Task_Related_ProcessAttributeReviewer_Detail</label>
        <locationX>3548</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Process_Attribute_Reviewer_Detail_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Review_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Review_Checklist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Review_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Process_Attribute_Dcoument_Detail</name>
        <label>Process Attribute Dcoument Detail</label>
        <locationX>2602</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Process_Attribute_Document_Details_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pre_Defined__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Attribute_Dcoument_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Child_Task_Closed_of_the_Parent_Task</name>
        <label>Update All Child Task Closed of the Parent Task</label>
        <locationX>4758</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Test_Child_closer_cronology</targetReference>
        </connector>
        <inputReference>Get_Parent_Task_if_Only_Closed</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>8102</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_v_CurrentRecords_Update_false</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document_Handler</name>
        <label>Update Document Handler</label>
        <locationX>6782</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>Assign_mdv_DocumentCreatedUpdate</targetReference>
        </connector>
        <inputReference>cv_Document_Handaler_Up</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Porcess_Path_Initiated_Task_Id_Status_Open</name>
        <label>Update Porcess Path Initiated Task Id Status Open</label>
        <locationX>3878</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_Current_Record_Status_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fv_Process_Path_Initiated_Task_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Lower_Version_Tasks</name>
        <label>Update Previous Lower Version Tasks</label>
        <locationX>1766</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Assign_mdv_CurrentTaskStatus</targetReference>
        </connector>
        <inputReference>cv_Previous_Lower_Version_Tasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Process_Review_Checklist_Fact_Review_Related_Task_Id</name>
        <label>Update Process Review Checklist Fact Review Related Task Id</label>
        <locationX>7222</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Assign_mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</targetReference>
        </connector>
        <inputReference>Get_Process_Review_Checklist_FACT_Related_PPTD</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Re_Open_Task_Status_Open</name>
        <label>Update Re-Open Task Status- Open</label>
        <locationX>7222</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Process_Review_Checklist_Fact_Review_Related_Task_Id</targetReference>
        </connector>
        <inputReference>Get_Review_Checklist_Related_Tasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_History_Matrix</name>
        <label>Update Task History Matrix</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Record_Present_Task_History_Matrix_Decision</targetReference>
        </connector>
        <inputReference>Get_Records_Task_History_Matrix_c_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assign_v_update_comment_summary</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4082</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cv_Document_Handaler_Up</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler__c</objectType>
    </variables>
    <variables>
        <name>cv_Execution_Depended_Closed_Closed_TaskIds_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>cv_Previous_Lower_Version_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>dv_WelcomingCallMaxAttemptReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_AfterTaskCloseProcess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CallBackTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CallDispositionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ChangeOfOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ChecklistFact_Creation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CommunicationCallOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DocumentCreatedUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DocumentHandalerUpdateTaskSharingIDsForNewTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DocumentHandlerCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DocumentHandlerUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_DuplicateTaskStatusOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_MandatoryDocumentToBeCollectedPostAlternateDocumentAddedOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_NewTaskCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_PostToChatter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ReOpenDependentTaskAfterReviewRejectBasedOnChecklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_RepeatTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_SystemExecutedApexAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskHistoryMatrix</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_Update_Execution_Depended_Closed_Task_Id_Outcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_updatecommentsummary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdvSystemFlowExecutedTasksOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Plaintext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_AuditRecordAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Callout_Audit__c</objectType>
    </variables>
    <variables>
        <name>rv_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_Document_Handler</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler__c</objectType>
    </variables>
    <variables>
        <name>rv_Document_Handler_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler__c</objectType>
    </variables>
    <variables>
        <name>rv_NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rv_NewAuditLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Callout_Audit__c</objectType>
    </variables>
    <variables>
        <name>rv_NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rv_NewRepeatTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rv_ProcessReviewChecklistDetail_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Process_Review_Checklist_FACT__c</objectType>
    </variables>
    <variables>
        <name>rv_ProcessReviewChecklistFact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Process_Review_Checklist_FACT__c</objectType>
    </variables>
    <variables>
        <name>rv_Task_History_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_History_Matrix__c</objectType>
    </variables>
    <variables>
        <name>rv_Updatedrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_UpdatedRelatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskrv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Current_Review_Leve</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_CurrentRecords_Update</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_Document_Sharing_Task_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_OriginatingSysSL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Serialnumber__c</elementReference>
        </value>
    </variables>
</Flow>
